//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

.header {
	border-bottom: 1px solid $grey;
	padding-top: 12px;
	background-color: #fff;

	// .header__inner

	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: 23px;
		i {
			color: $red;
			font-size: rem(17);
		}
	}

	// .header__top

	&__top {
		display: flex;
		justify-content: space-between;
		column-gap: 5px;
	}

	// .header__logo

	&__logo {
	}

	// .header__call

	&__call {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		align-items: flex-end;
		margin-top: 5px;
	}

	// .header__number

	&__number {
		display: flex;
		column-gap: 5px;
		font-size: rem(20);
		font-weight: 700;
		align-items: center;
	}

	// .header__bottom

	&__bottom {
		display: flex;
		justify-content: flex-end;
	}

	// .header__menu

	&__menu {
	}
}
.data-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 11px;
	// .data-header__clock

	&__clock {
		display: flex;
		column-gap: 12px;
	}

	// .data-header__wrapper

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	// .data-header__text

	&__text {
		&:first-child {
			font-size: rem(16);
			color: $mainColor;
		}
		font-size: rem(11);
		color: $grey;
	}

	// .data-header__location

	&__location {
		display: flex;
		column-gap: 12px;
		align-items: center;
	}
}

.menu {
	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
	}

	// .menu__list

	&__list {
		display: flex;
		column-gap: 43px;
	}

	// .menu__item

	&__item {
		padding-bottom: 9px;
		border-bottom: 1px solid $red;
		transition: all 0.4s ease-in-out;
		// .menu__item_green

		&_green {
			border-bottom: 1px solid $green;
			color: $green;
		}
		&:hover {
			border-width: 5px;
			transition: all 0.4s ease-in-out;
			padding-bottom: 4px;
		}
	}

	// .menu__link

	&__link {
		font-size: rem(12);
		text-transform: uppercase;
	}
}

.header-padding {
	padding-top: 128px;
}

._header-scroll {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 8;
	.header__top {
		align-items: center;
	}
	.header__logo {
		width: 264px;
		img,
		picture {
			object-fit: contain;
			object-position: center;
			width: inherit;
		}
	}
	.data-header__clock {
		display: none;
	}
	.header__call {
		column-gap: 31px;
		flex-direction: row;
		align-items: center;
	}
	.header__number {
		font-size: rem(16);
		font-weight: 600;
	}
	.header__inner i {
		font-size: rem(15);
	}
}
